
  height: auto;

  padding: 20px;

  background-color: #e8f5e9; /* Cor verde clara */

  border: 2px solid green; /* Borda verde */

  border-radius: 8px;

  text-align: center;

  color: green; /* Texto em verde */

}

button {

  background-color: green;

  color: white;

  border: none;

  padding: 10px;

  border-radius: 5px;

  cursor: pointer;

  font-size: 16px;

  margin-top: 20px;

}
button:hover {

  background-color: darkgreen;

}

a {

  text-decoration: none;

  color: green;

  font-size: 16px;

}

a:hover {

  text-decoration: underline;

}

#message {

  margin-top: 20px;

  text-align: center;

  font-weight: bold;

  color: green;

}